.logo-bing {
    width: 30rem;
}

.logo-duck {
    width: 15rem;
}

#umaid {
    background-color: red;
}

section {
    margin: 1rem 0 !important;
}

img {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
